body {
    min-width: 33em;
    font-family: "Times New Roman", Times, "Liberation Serif", serif;
    font-size: 100%;
}

#page-wrap {
    min-width: 23em;
    max-width: 38em;
    padding: 1em 5em 1em 5em;
    margin: 1.25em auto 1.25em auto;
    background-color: bisque;
}

#header {
    background-color: silver;
}

h1 {
    color: DarkRed;
    text-align: center;
    font-family: "Monotype Corsiva", "Times New Roman", "Liberation Serif", serif;
    font-style: italic;
    font-size: 2em;
}

h2 {
    color: DeepPink;
    text-align: left;
    font-family: "Arial", "Liberation Sans", sans-serif;
    font-size: 1.5em;
}

p {
    text-align: left;
    line-height: 1.5;
    font-size: 1.15em;
}

ul, ol {
    padding-left: 1em;
    text-align: left;
    line-height: 1.5;
    font-size: 1.15em;
}

a {
    color: Red;
}

span.outstanding {
    font-weight: bold;
}

span.informationLabel {
    font-style: italic;
}

span.durationTime {
    font-family: "Courier New", "Liberation Mono", monospace;
}

#footer {
    background-color: gainsboro;
}

.note {
    font-style: italic;
    font-size: 1em;
    text-align: center;
}
