body {
    background-color: dimgray;
    text-align: center;
}

#page-wrap {
    min-width: 760px;
    max-width: 980px;
    margin: 0 auto;
    background-color: white;
}

#header {
    position:relative;
    top: 10px;
    min-width: 740px;
    max-width: 960px;
    margin: 0 auto;
    background-color: silver;
}

h1 {
    color: black;
    text-align: center;
    font-family: serif;
}

h2 {
    color: blue;
    text-align: left;
    font-family: sans-serif;
}

#content {
    min-width: 740px;
    max-width: 960px;
    margin: 2em auto;
    background-color: white;
    text-align: justify;
    font-family: serif;
}

#footer {
    position:relative;
    bottom: 10px;
    min-width: 740px;
    max-width: 960px;
    margin: 0 auto;
    background-color: gainsboro;
}

.note {
    font-style: italic;
    text-align: center;
    font-family: serif;
}
