body {
    background-color: dimgray;
    text-align: center;
}

#header {
    min-width: 760px;
    max-width: 980px;
    height: 44px;
    margin: 0 auto;
    background-color: silver;
}

h1 {
    color: black;
    text-align: center;
    font-family: serif;
}

h2 {
    color: blue;
    text-align: left;
    font-family: sans-serif;
}

#content {
    min-width: 760px;
    max-width: 980px;
    margin: 0 auto;
    background-color: white;
    text-align: justify;
    font-family: serif;
}

.note {
    min-width: 760px;
    max-width: 980px;
    margin: 0 auto;
    font-style: italic;
    background-color: gainsboro;
    text-align: center;
    font-family: serif;
}
