html {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: DimGray;
}

.navigation {
    background-color: snow;
    line-height: 2em;
}

.trailer {
    border-style: none;
    margin-left: 4px;
    width: 600px;
    height: 337.5px;
}