html {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: DimGray;
}

form {
    background-color: snow;
}

.trailer {
    margin-left: 4px;
    width: 600px;
    height: 337.5px;
}